html, body {
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
}

body { 
    margin: 0; 
    padding: 0;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#drawsContainer {
    position: absolute;
    pointer-events: none;
    z-index: 8;
    opacity: 0.3;
}

#threeContainer {
    position: absolute;
    z-index: 10;      
}

canvas {
    display: block;
}

#ratate-360-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 60px) scaleY(0.8);
    opacity: 0.3;;
}